{% load static %}

<!DOCTYPE html>
<html lang="en">
{% comment %} {% load tailwind_tags %} {% endcomment %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRM </title>
  {% comment %} <link rel="stylesheet" href="base.css"> {% endcomment %}
  <script src="https://cdn.tailwindcss.com"></script>
  {% comment %} {% tailwind_css %} {% endcomment %}
</head>

<body>
  <div class="max-w-7xl mx-auto">
    {% include "navbar.html" %}
    {% block content %}
    {% endblock content %}
  </div>

  {% include "scripts.html" %}
</body>

</html>